body {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  box-shadow: silver 0px 4px 12px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.book-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.add-button {
  color: white;
  background-color: #5d655d5e;
  margin-top: 8px;
}

.book-input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.book-list {
  margin-top: 20px;
  text-align: center;
  list-style: none;
  box-sizing: border-box;
  box-shadow: #5d655d5e 0px 4px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.book-list > li {
  padding: 10px;
  border-top: 1px solid #5f1919bb;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.delete {
  margin-left: 10px;
  color: white;
  background-color: #d61010;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 36px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .book-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 40px;
  }

  .add-button {
    color: rgba(255, 255, 255, 0.887);
    background-color: #5d655d34;
    margin-top: 8px;
  }

  .book-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .book-list {
    margin-top: 20px;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    box-shadow: #520c044c 0px 4px 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .book-list > li {
    padding: 10px;
    border-top: 1px solid #5f191983;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }

  .delete {
    margin-left: 10px;
    color: white;
    background-color: #d61010;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .book-form {
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
  }

  .add-button {
    color: white;
    background-color: #5d655d6c;
    margin-top: 10px;
  }

  .book-input {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}
